[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap5 = "*"
django-crispy-forms = "*"
django-environ = "*"
crispy-bootstrap5 = "*"
psycopg2-binary = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
