{% extends 'attendance/master/base.html' %}
{% load static %}

{% block title %}Attendance Management System{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="container mt-5">
  <h4 class="card-title">QR Scanner</h4>

  <div class="center">
    <div id="reader"></div>
    <div id="result"></div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"></script>
<script>
    $(document).ready(function() {
      // console.log('ready!');

      // QR Scanner
      const scanner = new Html5QrcodeScanner('reader', {
        qrcode: {
          width: 250,
          height: 250,
        },
        fps: 10,
      });
      scanner.render(success, error);

      function success(result) {
        console.log(result);
        document.getElementById('result').innerHTML = `
        <h2>Success!</h2>
        <p class='fw-bold'>${result}</p>`;

        scanner.clear();
        document.getElementById('reader').remove();

        window.location.href = `http://127.0.0.1:8000/attendance/qr-scanner/${result}/`;
      }

      function error(err) {
        console.log(err);
      }
    });
</script>
{% endblock js %}