{% extends 'employee/master/base.html' %}
{% load static %}

{% block title %}Attendance Management System{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-end">
      <a href="{% url 'register' %}" type="button" class="btn btn-warning">Create New User</a>
    </div>
  </div>
  <div class="mt-4"></div>
  
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table id="tblUser" class="table">
          <thead class="table-dark">
            <tr>
              <th>No.</th>
              <th>Staff ID</th>
              <th>Name</th>
              <th>Email Address</th>
              <th>Active</th>
              <th>Date Joined</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ forloop.counter }}.</td>
              <td><a href="{% url 'profile' user.id %}">{{ user.username | default:'-' }}</a></td>
              <td>{{ user.first_name }} {{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.is_active }}</td>
              <td>{{ user.date_joined | date:"d/m/Y P"  }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
  let dt = new DataTable('#tblUser');
</script>
{% endblock js %}