{% extends 'employee/master/base.html' %}
{% load static %}

{% block title %}Attendance Management System{% endblock title %}
{% block css %}
<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #reader {
    width: 600px;
  }

  #result {
    text-align: center;
    font-size: 1.5rem;
  }
</style>
{% endblock css %}

{% block content %}
<div class="container mt-5">
  <div class="main">
    <div id="reader"></div>
    <div id="result"></div>
  </div>
</div>
{% endblock content %}
{% block js %}]{% endblock js %}