{% extends 'users/master/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Attendance Management System{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="offset-3 col-6">
      <div class="text-center">
        <h4 class="card-title">Reset Password?</h4>
        <p class="text-muted">Enter your email address below to reset your password.</p>
      </div>
      
      <!-- Form -->
      <form method='POST' autocomplete="off">
        {% csrf_token %}
        <!-- Email field -->
        <div class="mb-3">
          {{ form|crispy }}
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-warning w-100">Reset Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}