{% extends 'frontend/master/base.html' %}
{% load static %}

{% block title %}Attendance Management System{% endblock title %}
{% block css %}
<style>
  .btn-custom {
    font-size: 24px !important;
    height: 100px !important;
  }
</style>
{% endblock css %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <a href="{% url 'attendances' %}" class="text-decoration-none">
        <div class="card rounded-4 border-warning border border-3 shadow-sm">
          <img src="{% static 'frontend/images/checklist-outline-1.svg' %}" class="card-img-top p-4" alt="Attendance">
          <div class="card-body text-center">
            <h4 class="card-title text-uppercase fw-bold">Attendance</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <a href="{% url 'meeting' %}" class="text-decoration-none">
        <div class="card rounded-4 border-warning border border-3 shadow-sm">
          <img src="{% static 'frontend/images/calendar-outline.svg' %}" class="card-img-top p-4" alt="Attendance">
          <div class="card-body text-center">
            <h4 class="card-title text-uppercase fw-bold">Meeting Room</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
      <div class="card rounded-4 border-warning border border-3 shadow-sm">
        <img src="{% static 'frontend/images/question-outline.svg' %}" class="card-img-top p-4" alt="Attendance">
        <div class="card-body text-center">
          <h4 class="card-title text-uppercase fw-bold">Search</h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}